*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 1em;
}

.container{
    width: 90%;
    max-width: 1080px;
    margin:1em auto;
}
.item-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 300px;
    margin:0.5em auto;
    padding: 1em;
    align-items: flex-end;
    background: #ECF2F3;
    border-radius: 0.25em;
    height: 150px;
}

/* Form */

.form{
    max-width:1080px;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.form input{
    width: 70%;
    margin: 0.25em auto;
    padding: 0.5em;
    border-radius: 0.35em;
    border: 2px solid #292b39;
}
.form button{
    width: 50%;
    margin: 0.35em auto;
    padding: 0.5em;
    border-radius: 0.35em;
    background: cornflowerblue;
    border: none;
}
